#nav-sec {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: $nav-sec-width;
	border-right: 1px solid $body-border;

	+ #content {
		padding-left: $nav-sec-width + $content-padding;
	}

	.menu-item {
		border-bottom: 1px solid $body-border;
		transition: background-color 0.2s;

		&:hover,
		&.active {
			background-color: $body-bg-alt;
		}

		a {
			display: block;
			height: $nav-width;
			padding: $content-padding;
			color: $text-color;
			font-weight: 500;
			line-height: ( $nav-width - $content-padding * 2 ) / 2;

			small {
				display: block;
				color: $text-color-fade;
				font-weight: 400;
				font-size: 12px;
			}
		}

		&.half a {
			height: $nav-width / 2 - 0.5px;
			padding: ( $content-padding / 2 ) $content-padding;
		}
	}
}
