
// Body
$body-bg: #fff;
$body-bg-alt: darken( $body-bg, 5 );
$body-border: darken( $body-bg, 10 );

// Navbar
$nav-bg: #222;
$nav-bg-alt: #111;
$nav-color: #fff;
$nav-color-alt: #ddd;
$nav-border: #000;
$nav-width: 80px;
$nav-logo-width: 40px;
$nav-icon-width: 24px;

$nav-sec-width: 200px;

// Content
$content-padding: 22px;

$width-large: 1024px;
$width-medium: 640px;
$width-small: 320px;

// Typography
$font-family-sans-serif: "Poppins", sans-serif;
$font-family-monospace: Consolas, "Liberation Mono", Menlo, Courier, monospace;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #444;
$text-color-fade: #777;

// Colors
$color-red: #d04040;
$color-green: #62be1e;

$color-bg-dark: rgba(0, 0, 0, 0.5);
$color-bg-dark-fade: rgba(0, 0, 0, 0.25);

$color-bg-light: rgba(255, 255, 255, 0.5);
$color-bg-light-fade: rgba(255, 255, 255, 0.25);

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-padding: 10px;
$input-bg: #fafafa;
$input-bg-alt: #fff;

// Misc.
$border-radius: 3px;

$transition-duration: 0.15s;
$fade-transition-duration: 0.1s;
