@import url(https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700);html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  color: #444;
  font-size: 14px;
  font-family: "Hind", sans-serif;
  line-height: 1.6;
  padding-left: 80px;
}

#content {
  padding: 22px;
}

.app-container > .alert {
  position: fixed;
  left: 40%;
  right: 40%;
  bottom: 0;
  border-bottom: 0;
}

#nav-main {
  width: 80px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #222;
}

#logo {
  display: block;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-bottom: 1px solid #000;
}

#logo img {
  display: inline-block;
  width: 40px;
  vertical-align: middle;
}

#nav-main-menu li {
  display: block;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-bottom: 1px solid #000;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}

#nav-main-menu li a {
  display: block;
  height: 80px;
  color: inherit;
  padding: 20px 5px 10px;
}

#nav-main-menu li img {
  display: block;
  margin: 0 auto 10px;
  width: 24px;
}

#nav-main-menu li:hover,
#nav-main-menu li.active {
  color: #ddd;
  background-color: #111;
}

#nav-top {
  height: 80px;
  white-space: nowrap;
  border-bottom: 1px solid #dbdbdb;
  background-color: #f4f4f4;
}

#nav-top > div {
  float: left;
  padding: 22px;
  line-height: 36px;
  vertical-align: top;
}

#nav-top + #nav-sec {
  top: 80px;
}

#nav-top-head {
  width: 200px;
  font-weight: 600;
  border-right: 1px solid #dbdbdb;
}

#nav-top-title {
  font-weight: 500;
}

#nav-top-title strong {
  display: block;
}

#nav-top-title strong:not(:last-child) {
  line-height: 24px;
}

#nav-top-title small {
  display: block;
  font-weight: 400;
  font-size: 12px;
  color: #777;
}

#nav-top-title small:not(:first-child) {
  line-height: 12px;
}

#nav-top-actions {
  float: right !important;
}

#nav-top-actions .button,
#nav-top-actions form {
  display: inline-block;
}

#nav-top-actions .button:not(:last-child),
#nav-top-actions form:not(:last-child) {
  margin-right: 10px;
}

#nav-top-actions .button {
  line-height: 34px;
}

#nav-sec {
  position: fixed;
  top: 0;
  left: 80px;
  bottom: 0;
  width: 200px;
  border-right: 1px solid #dbdbdb;
}

#nav-sec + #content {
  padding-left: 222px;
}

#nav-sec .menu-item {
  border-bottom: 1px solid #dbdbdb;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

#nav-sec .menu-item:hover,
#nav-sec .menu-item.active {
  background-color: #f4f4f4;
}

#nav-sec .menu-item a {
  display: block;
  height: 80px;
  padding: 22px;
  color: #444;
  font-weight: 500;
  line-height: 18px;
}

#nav-sec .menu-item a small {
  display: block;
  color: #777;
  font-weight: 400;
  font-size: 12px;
}

.alert {
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
  font-weight: 500;
  text-align: center;
  border: 1px solid #dbdbdb;
}

.alert ul,
.alert li {
  border-color: inherit;
}

.alert li {
  padding: 8px 10px;
}

.alert li:not(:first-child) {
  border-top-width: 1px;
  border-top-style: solid;
}

.alert-success {
  color: #62be1e;
  border-left-color: #62be1e;
}

.alert-error {
  color: #d04040;
  border-left-color: #d04040;
}

form {
  max-width: 640px;
  margin: 0 auto;
}

.fieldset {
  margin-bottom: 10px;
}

.fieldset label {
  display: block;
  margin-bottom: 5px;
}

.fieldset input,
.fieldset textarea {
  width: 100%;
}

.fieldgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fieldgroup span {
  padding: 10px;
  color: #777;
  border: 1px solid #dbdbdb;
}

.fieldgroup span:first-child {
  border-right-width: 0;
}

.fieldgroup span:last-child {
  border-left-width: 0;
}

input:not([type="submit"]):not([type="file"]),
textarea {
  outline: none;
  padding: 10px;
  border: 1px solid #dbdbdb;
  background-color: #f4f4f4;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

input:not([type="submit"]):not([type="file"]):hover,
input:not([type="submit"]):not([type="file"]):focus,
textarea:hover,
textarea:focus {
  background-color: #fff;
}

.button {
  display: inline-block;
  min-width: 100px;
  min-height: 36px;
  padding: 0 15px;
  color: #444;
  font-weight: 500;
  text-align: center;
  line-height: inherit;
  border: 1px solid #dbdbdb;
  background-color: #f4f4f4;
  -webkit-transition: background-color 0.2s, color 0.2s, border 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, color 0.2s, border 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, color 0.2s, border 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, color 0.2s, border 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.button:hover,
.button:focus {
  background-color: #f9f9f9;
  outline: none;
}

.button:active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.button-green {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-color: #59ac1b;
  background-color: #62be1e;
}

.button-green:hover,
.button-green:focus {
  background-color: #59ac1b;
}

.button-red {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-color: #ca3232;
  background-color: #d04040;
}

.button-red:hover,
.button-red:focus {
  background-color: #ca3232;
}

