@import url(https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700);html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:focus,
button:focus,
.button:focus,
.editable:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 260%;
}

h2 {
  font-size: 220%;
}

h3 {
  font-size: 180%;
}

h4 {
  font-size: 140%;
}

h6 {
  font-size: 80%;
}

strong {
  font-weight: 600;
}

small {
  font-size: 90%;
}

p span {
  display: inline-block;
  font-size: 100%;
}

pre {
  font-size: 12px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

pre code {
  display: block;
  padding: 22px;
  background: #232323;
}

pre.hljs-wrap {
  font-size: 0;
}

pre.hljs-wrap code.hljs {
  font-size: 12px;
}

body {
  color: #444;
  font-size: 14px;
  font-family: "Hind", sans-serif;
  line-height: 1.6;
  padding-left: 80px;
}

[v-cloak] {
  display: none;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

#nav-main {
  width: 80px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #222;
}

#logo {
  display: block;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-bottom: 1px solid #000;
}

#logo img {
  display: inline-block;
  width: 40px;
  vertical-align: middle;
}

#nav-main-menu li {
  display: block;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-bottom: 1px solid #000;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}

#nav-main-menu li a {
  display: block;
  height: 80px;
  color: inherit;
  padding: 20px 5px 10px;
}

#nav-main-menu li img {
  display: block;
  margin: 0 auto 10px;
  width: 24px;
}

#nav-main-menu li:hover,
#nav-main-menu li.active {
  color: #ddd;
  background-color: #111;
}

#nav-top {
  position: fixed;
  top: 0;
  left: 80px;
  right: 0;
  height: 80px;
  white-space: nowrap;
  border-bottom: 1px solid #dbdbdb;
  background-color: #f4f4f4;
}

#nav-top > div {
  float: left;
  padding: 22px;
  line-height: 36px;
  vertical-align: top;
}

#nav-top + #nav-sec {
  top: 80px;
}

#nav-top ~ #content {
  padding-top: 102px;
}

#nav-top-head {
  width: 200px;
  font-weight: 600;
  border-right: 1px solid #dbdbdb;
}

#nav-top-title {
  font-weight: 500;
}

#nav-top-title strong {
  display: block;
}

#nav-top-title strong:not(:last-child) {
  line-height: 24px;
}

#nav-top-title small {
  display: block;
  font-weight: 400;
  font-size: 12px;
  color: #777;
}

#nav-top-title small:not(:first-child) {
  line-height: 12px;
}

#nav-top-actions {
  float: right !important;
}

#nav-top-actions .button,
#nav-top-actions form {
  display: inline-block;
}

#nav-top-actions .button:not(:last-child),
#nav-top-actions form:not(:last-child) {
  margin-right: 10px;
}

#nav-top-actions .button {
  line-height: 34px;
}

#nav-sec {
  position: fixed;
  top: 0;
  left: 80px;
  bottom: 0;
  width: 200px;
  border-right: 1px solid #dbdbdb;
}

#nav-sec + #content {
  padding-left: 222px;
}

#nav-sec .menu-item {
  border-bottom: 1px solid #dbdbdb;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

#nav-sec .menu-item:hover,
#nav-sec .menu-item.active {
  background-color: #f4f4f4;
}

#nav-sec .menu-item a {
  display: block;
  height: 80px;
  padding: 22px;
  color: #444;
  font-weight: 500;
  line-height: 18px;
}

#nav-sec .menu-item a small {
  display: block;
  color: #777;
  font-weight: 400;
  font-size: 12px;
}

#nav-sec .menu-item.half a {
  height: 39.5px;
  padding: 11px 22px;
}

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding: 22px;
}

#content .no-content {
  margin: auto;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  color: #777;
  text-align: center;
}

#content .no-content p {
  font-size: 24px;
}

#content .no-content .button {
  margin-top: 50px;
  line-height: 36px;
}

#content .full {
  width: 100%;
}

.content-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin: -11px;
}

.content-grid .grid-item {
  width: 33.333%;
  padding: 11px;
}

.content-grid .grid-item > a {
  display: block;
  padding: 20px 15px;
  max-height: 100px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
  -webkit-transition: background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.content-grid .grid-item > a:hover {
  background-color: #f4f4f4;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.075);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.075);
}

.content-grid .grid-item > a:focus {
  -webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.075);
}

.content-grid .grid-item > a > * {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content-grid .grid-item .title {
  color: #444;
}

.content-grid .grid-item .subtitle {
  color: #777;
}

.single-content .code-delimiter {
  display: none;
}

.single-edit .code-delimiter {
  display: block;
}

.single-content,
.single-edit {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

/*

Railscasts-like style (c) Visoft, Inc. (Damien White)

*/

.hljs {
  display: block;
  overflow-x: auto;
  background: #232323;
  color: #e6e1dc;
}

.hljs-comment,
.hljs-quote {
  color: #bc9458;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #c26230;
}

.hljs-string,
.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
  color: #a5c261;
}

.hljs-subst {
  color: #519f50;
}

.hljs-tag,
.hljs-name {
  color: #e8bf6a;
}

.hljs-type {
  color: #da4939;
}

.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-attr,
.hljs-link {
  color: #6d9cbe;
}

.hljs-params {
  color: #d0d0ff;
}

.hljs-attribute {
  color: #cda869;
}

.hljs-meta {
  color: #9b859d;
}

.hljs-title,
.hljs-section {
  color: #ffc66d;
}

.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-selector-class {
  color: #9b703f;
}

.hljs-selector-id {
  color: #8b98ab;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

@-webkit-keyframes medium-editor-image-loading {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes medium-editor-image-loading {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes medium-editor-pop-upwards {
  0% {
    opacity: 0;
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
            transform: matrix(0.97, 0, 0, 1, 0, 12);
  }

  20% {
    opacity: 0.7;
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
            transform: matrix(0.99, 0, 0, 1, 0, 2);
  }

  40% {
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
            transform: matrix(1, 0, 0, 1, 0, -1);
  }

  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

@keyframes medium-editor-pop-upwards {
  0% {
    opacity: 0;
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
            transform: matrix(0.97, 0, 0, 1, 0, 12);
  }

  20% {
    opacity: 0.7;
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
            transform: matrix(0.99, 0, 0, 1, 0, 2);
  }

  40% {
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
            transform: matrix(1, 0, 0, 1, 0, -1);
  }

  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

.medium-editor-anchor-preview {
  font-size: 16px;
  left: 0;
  line-height: 1.4;
  max-width: 280px;
  position: absolute;
  text-align: center;
  top: 0;
  word-break: break-all;
  word-wrap: break-word;
  visibility: hidden;
  z-index: 2000;
}

.medium-editor-anchor-preview a {
  display: inline-block;
  margin: 5px;
}

.medium-editor-anchor-preview-active {
  visibility: visible;
}

.medium-editor-dragover {
  background: #ddd;
}

.medium-editor-image-loading {
  -webkit-animation: medium-editor-image-loading 1s infinite ease-in-out;
  animation: medium-editor-image-loading 1s infinite ease-in-out;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.medium-editor-placeholder {
  position: relative;
}

.medium-editor-placeholder:after {
  content: attr(data-placeholder) !important;
  font-style: italic;
  position: absolute;
  left: 0;
  top: 0;
  white-space: pre;
  padding: inherit;
  margin: inherit;
}

.medium-editor-placeholder-relative {
  position: relative;
}

.medium-editor-placeholder-relative:after {
  content: attr(data-placeholder) !important;
  font-style: italic;
  position: relative;
  white-space: pre;
  padding: inherit;
  margin: inherit;
}

.medium-toolbar-arrow-under:after,
.medium-toolbar-arrow-over:before {
  border-style: solid;
  content: '';
  display: block;
  height: 0;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  width: 0;
}

.medium-toolbar-arrow-under:after {
  border-width: 8px 8px 0 8px;
}

.medium-toolbar-arrow-over:before {
  border-width: 0 8px 8px 8px;
  top: -8px;
}

.medium-editor-toolbar {
  font-size: 16px;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: 2000;
}

.medium-editor-toolbar ul {
  margin: 0;
  padding: 0;
}

.medium-editor-toolbar li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.medium-editor-toolbar li button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: 1.33;
  margin: 0;
  padding: 15px;
  text-decoration: none;
}

.medium-editor-toolbar li button:focus {
  outline: none;
}

.medium-editor-toolbar li .medium-editor-action-underline {
  text-decoration: underline;
}

.medium-editor-toolbar li .medium-editor-action-pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  font-weight: 100;
  padding: 15px 0;
}

.medium-editor-toolbar-active {
  visibility: visible;
}

.medium-editor-sticky-toolbar {
  position: fixed;
  top: 1px;
}

.medium-editor-relative-toolbar {
  position: relative;
}

.medium-editor-toolbar-active.medium-editor-stalker-toolbar {
  -webkit-animation: medium-editor-pop-upwards 160ms forwards linear;
  animation: medium-editor-pop-upwards 160ms forwards linear;
}

.medium-editor-action-bold {
  font-weight: bolder;
}

.medium-editor-action-italic {
  font-style: italic;
}

.medium-editor-toolbar-form {
  display: none;
}

.medium-editor-toolbar-form .medium-editor-toolbar-form-row {
  line-height: 14px;
  margin-left: 5px;
  padding-bottom: 5px;
}

.medium-editor-toolbar-form .medium-editor-toolbar-input,
.medium-editor-toolbar-form label {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 6px;
  width: 316px;
  display: inline-block;
}

.medium-editor-toolbar-form .medium-editor-toolbar-input:focus,
.medium-editor-toolbar-form label:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.medium-editor-toolbar-form a {
  display: inline-block;
  font-size: 24px;
  font-weight: bolder;
  margin: 0 10px;
  text-decoration: none;
}

.medium-editor-toolbar-form-active {
  display: block;
}

.medium-editor-toolbar-actions:after {
  clear: both;
  content: "";
  display: table;
}

.medium-editor-element {
  word-wrap: break-word;
  min-height: 200px;
}

.medium-editor-element img {
  max-width: 100%;
}

.medium-editor-element sub {
  vertical-align: sub;
}

.medium-editor-element sup {
  vertical-align: super;
}

.medium-editor-hidden {
  display: none;
}

.medium-toolbar-arrow-under:after {
  top: 50px;
  border-color: #222 transparent transparent transparent;
}

.medium-toolbar-arrow-over:before {
  top: -8px;
  border-color: transparent transparent #000 transparent;
}

.medium-editor-toolbar {
  background-color: #222;
  border: 1px solid #000;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.medium-editor-toolbar li button {
  background-color: #222;
  border: 0;
  border-right: 1px solid #000;
  color: #fff;
  height: 50px;
  min-width: 50px;
  -webkit-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
}

.medium-editor-toolbar li button:hover {
  background-color: #111;
  color: #ddd;
}

.medium-editor-toolbar li .medium-editor-button-last {
  border-right-width: 0;
}

.medium-editor-toolbar li .medium-editor-button-active {
  background-color: #111;
  color: #ddd;
}

.medium-editor-toolbar-form {
  border-radius: 5px;
  color: #999;
  background-color: #222;
}

.medium-editor-toolbar-form .medium-editor-toolbar-input {
  height: 50px;
  border: 0 !important;
  background-color: #222 !important;
}

.medium-editor-toolbar-form a {
  color: #fff;
}

.medium-editor-toolbar-anchor-preview {
  color: #fff;
  background-color: #111;
  border: 1px solid #000;
}

.medium-editor-toolbar-anchor-preview a {
  color: #ddd;
  font-size: 12px;
}

.medium-editor-placeholder:after {
  color: #b3b3b1;
}

.alert {
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
  font-weight: 500;
  text-align: center;
  border: 1px solid #dbdbdb;
  background-color: #fff;
}

.alert ul,
.alert li {
  border-color: inherit;
}

.alert li {
  padding: 8px 10px;
}

.alert li:not(:first-child) {
  border-top-width: 1px;
  border-top-style: solid;
}

.alert.-success {
  color: #62be1e;
  border-left-color: #62be1e;
}

.alert.-error {
  color: #d04040;
  border-left-color: #d04040;
}

.app-container > .alert {
  position: fixed;
  left: 50%;
  bottom: 0;
  max-width: 640px;
  border-bottom: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

form {
  max-width: 100%;
}

.fieldset {
  margin-bottom: 10px;
}

.fieldset label {
  display: block;
  margin-bottom: 5px;
}

.fieldset input,
.fieldset textarea {
  width: 100%;
}

.inputgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.inputgroup span {
  padding: 10px;
  color: #777;
  border: 1px solid #dbdbdb;
}

.inputgroup span:first-child {
  border-right-width: 0;
}

.inputgroup span:last-child {
  border-left-width: 0;
}

input:not([type="submit"]):not([type="file"]),
textarea {
  outline: none;
  padding: 10px;
  border: 1px solid #dbdbdb;
  background-color: #f4f4f4;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

input:not([type="submit"]):not([type="file"]):hover,
input:not([type="submit"]):not([type="file"]):focus,
textarea:hover,
textarea:focus {
  background-color: #fff;
}

.button {
  display: inline-block;
  min-width: 100px;
  padding: 0 15px;
  color: #444;
  font-weight: 500;
  text-align: center;
  line-height: inherit;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #f4f4f4;
  -webkit-transition: background-color 0.2s, color 0.2s, border 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, color 0.2s, border 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, color 0.2s, border 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, color 0.2s, border 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.button.-submit {
  line-height: 36px;
}

.button:hover,
.button:focus {
  background-color: #f9f9f9;
  outline: none;
}

.button:active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.button.-green {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-color: #59ac1b;
  background-color: #62be1e;
}

.button.-green:hover,
.button.-green:focus {
  background-color: #59ac1b;
}

.button.-red {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-color: #ca3232;
  background-color: #d04040;
}

.button.-red:hover,
.button.-red:focus {
  background-color: #ca3232;
}

a {
  color: #62be1e;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

a:hover,
a:focus {
  color: inherit;
}

