@import url(https://use.fontawesome.com/releases/v5.6.1/css/all.css);@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800);@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

body::-webkit-scrollbar-track {
  background-color: #dbdbdb;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: #dbdbdb;
}

body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #222;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:focus,
button:focus,
.button:focus,
.editable:focus {
  outline: none;
}

@-webkit-keyframes contentFadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes contentFadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes contentSlideOut {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translateX(0, 100);
            transform: translateX(0, 100);
  }
}

@keyframes contentSlideOut {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translateX(0, 100);
            transform: translateX(0, 100);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 260%;
}

h2 {
  font-size: 220%;
}

h3 {
  font-size: 180%;
}

h4 {
  font-size: 140%;
}

h6 {
  font-size: 80%;
}

strong {
  font-weight: 600;
}

small {
  font-size: 90%;
}

p span {
  display: inline-block;
  font-size: 100%;
}

pre code {
  display: block;
  padding: 22px;
}

pre.hljs-wrap {
  font-size: 0;
}

pre.hljs-wrap code.hljs {
  font-size: 12px;
}

code {
  display: inline-block;
  font-size: 12px;
  color: #eee;
  line-height: inherit;
  padding: 2px 4px 1px;
  background: #232323;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  border-radius: 3px;
}

em {
  font-style: italic;
}

blockquote {
  padding: 11px;
  border-left: 3px solid #dbdbdb;
}

body {
  color: #444;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  padding-left: 80px;
}

[v-cloak] {
  display: none;
}

#app {
  position: relative;
}

#app-data {
  display: none;
}

.app-container {
  width: 100%;
  position: relative;
  opacity: 1;
  background-color: #fff;
  z-index: 2;
}

.app-container.fading-in {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  z-index: 1;
}

.app-container.fading-out {
  -webkit-animation-name: contentFadeOut;
          animation-name: contentFadeOut;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

#nav-main {
  width: 80px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #222;
}

#logo {
  display: block;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-bottom: 1px solid #000;
}

#logo img {
  display: inline-block;
  width: 40px;
  vertical-align: middle;
}

#nav-main-menu li {
  display: block;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-bottom: 1px solid #000;
  background-color: #222;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}

#nav-main-menu li a {
  display: block;
  height: 40px;
  color: inherit;
  padding: 10px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#nav-main-menu li.has-icon a {
  height: 80px;
  padding-top: 20px;
}

#nav-main-menu li .icon {
  display: block;
  font-size: 24px;
  margin: 0 auto 10px;
  width: 24px;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

#nav-main-menu li:hover,
#nav-main-menu li.active {
  color: #ddd;
  background-color: #111;
}

#nav-main-menu li:hover .icon,
#nav-main-menu li.active .icon {
  opacity: 1;
}

#nav-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  white-space: nowrap;
  border-bottom: 1px solid #dbdbdb;
  background-color: #f4f4f4;
}

#nav-top > div {
  float: left;
  padding: 22px;
  line-height: 36px;
  vertical-align: top;
}

#nav-top + #nav-sec {
  top: 80px;
}

#nav-top ~ #content {
  padding-top: 102px;
}

#nav-top-head {
  width: 200px;
  font-weight: 500;
  border-right: 1px solid #dbdbdb;
}

#nav-top-title {
  font-weight: 500;
}

#nav-top-title strong {
  display: block;
}

#nav-top-title strong:not(:last-child) {
  line-height: 24px;
}

#nav-top-title small {
  display: block;
  font-weight: 400;
  font-size: 12px;
  color: #777;
}

#nav-top-title small:not(:first-child) {
  line-height: 12px;
}

#nav-top-actions {
  float: right !important;
}

#nav-top-actions .button,
#nav-top-actions form {
  display: inline-block;
}

#nav-top-actions .button:not(:last-child),
#nav-top-actions form:not(:last-child) {
  margin-right: 10px;
}

#nav-top-actions .button {
  line-height: 34px;
}

#nav-sec {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  border-right: 1px solid #dbdbdb;
}

#nav-sec + #content {
  padding-left: 222px;
}

#nav-sec .menu-item {
  border-bottom: 1px solid #dbdbdb;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

#nav-sec .menu-item:hover,
#nav-sec .menu-item.active {
  background-color: #f4f4f4;
}

#nav-sec .menu-item a {
  display: block;
  height: 80px;
  padding: 22px;
  color: #444;
  font-weight: 500;
  line-height: 18px;
}

#nav-sec .menu-item a small {
  display: block;
  color: #777;
  font-weight: 400;
  font-size: 12px;
}

#nav-sec .menu-item.half a {
  height: 39.5px;
  padding: 11px 22px;
}

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding: 22px;
}

#content .no-content {
  margin: auto;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  color: #777;
  text-align: center;
}

#content .no-content p {
  font-size: 24px;
}

#content .no-content .button {
  margin-top: 50px;
  line-height: 36px;
}

#content .full {
  width: 100%;
}

.content-list .item {
  line-height: 22px;
}

.content-list .item .title {
  color: #444;
}

.content-list .item .subtitle {
  color: #777;
}

.content-list .item .item-action {
  width: 32px;
  cursor: pointer;
  font-size: 16px;
  color: #777;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.content-list .item .item-action:hover,
.content-list .item .item-action:focus {
  color: #444;
}

.content-list.-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin: -11px;
}

.content-list.-grid .item {
  width: 33.333%;
  padding: 11px;
}

.content-list.-grid .item > a,
.content-list.-grid .item > div {
  display: block;
  padding: 20px 15px;
  max-height: 100px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
}

.content-list.-grid .item > a {
  -webkit-transition: background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.content-list.-grid .item > a:hover {
  background-color: #f4f4f4;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.075);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.075);
}

.content-list.-grid .item > a:focus {
  -webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.075);
}

.content-list.-grid .item > a > * {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content-list.-table {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.content-list.-table:hover {
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.075);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.075);
}

.content-list.-table .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.content-list.-table .item:not(:last-child) {
  border-bottom: 1px solid #dbdbdb;
}

.content-list.-table .item:hover {
  background-color: #f4f4f4;
}

.content-list.-table .item > * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 11px;
}

.content-list.-table .item > .action {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

#post-body > *:not(:last-child),
.editor-preview > *:not(:last-child),
.container > *:not(:last-child) {
  margin-bottom: 22px;
}

#post-body ol,
#post-body ul,
.editor-preview ol,
.editor-preview ul,
.container ol,
.container ul {
  list-style-position: inside;
}

#post-body ul,
.editor-preview ul,
.container ul {
  list-style-type: disc;
}

#post-body ol,
.editor-preview ol,
.container ol {
  list-style-type: decimal;
}

.content-list.-menus .item .title {
  width: 20%;
}

.content-list.-menus .item .subtitle {
  width: 50%;
}

.single-content .code-delimiter {
  display: none;
}

.single-edit .code-delimiter {
  display: block;
}

.single-content,
.single-edit {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

/*

Railscasts-like style (c) Visoft, Inc. (Damien White)

*/

.hljs {
  display: block;
  overflow-x: auto;
  background: #232323;
  color: #e6e1dc;
}

.hljs-comment,
.hljs-quote {
  color: #bc9458;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #c26230;
}

.hljs-string,
.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
  color: #a5c261;
}

.hljs-subst {
  color: #519f50;
}

.hljs-tag,
.hljs-name {
  color: #e8bf6a;
}

.hljs-type {
  color: #da4939;
}

.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-attr,
.hljs-link {
  color: #6d9cbe;
}

.hljs-params {
  color: #d0d0ff;
}

.hljs-attribute {
  color: #cda869;
}

.hljs-meta {
  color: #9b859d;
}

.hljs-title,
.hljs-section {
  color: #ffc66d;
}

.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-selector-class {
  color: #9b703f;
}

.hljs-selector-id {
  color: #8b98ab;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

/**
 * simplemde v1.11.2
 * Copyright Next Step Webs, Inc.
 * @link https://github.com/NextStepWebs/simplemde-markdown-editor
 * @license MIT
 */

.CodeMirror {
  color: #000;
}

.CodeMirror-lines {
  padding: 4px 0;
}

.CodeMirror pre {
  padding: 0 4px;
}

.CodeMirror-gutter-filler,
.CodeMirror-scrollbar-filler {
  background-color: #fff;
}

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}

.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker {
  color: #000;
}

.CodeMirror-guttermarker-subtle {
  color: #999;
}

.CodeMirror-cursor {
  border-left: 1px solid #000;
  border-right: none;
  width: 0;
}

.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}

.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}

.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}

@-webkit-keyframes blink {
  50% {
    background-color: transparent;
  }
}

@keyframes blink {
  50% {
    background-color: transparent;
  }
}

.cm-tab {
  display: inline-block;
  text-decoration: inherit;
}

.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  position: absolute;
}

.cm-s-default .cm-header {
  color: #00f;
}

.cm-s-default .cm-quote {
  color: #090;
}

.cm-negative {
  color: #d44;
}

.cm-positive {
  color: #292;
}

.cm-header,
.cm-strong {
  font-weight: 700;
}

.cm-em {
  font-style: italic;
}

.cm-link {
  text-decoration: underline;
}

.cm-strikethrough {
  text-decoration: line-through;
}

.cm-s-default .cm-keyword {
  color: #708;
}

.cm-s-default .cm-atom {
  color: #219;
}

.cm-s-default .cm-number {
  color: #164;
}

.cm-s-default .cm-def {
  color: #00f;
}

.cm-s-default .cm-variable-2 {
  color: #05a;
}

.cm-s-default .cm-variable-3 {
  color: #085;
}

.cm-s-default .cm-comment {
  color: #a50;
}

.cm-s-default .cm-string {
  color: #a11;
}

.cm-s-default .cm-string-2 {
  color: #f50;
}

.cm-s-default .cm-meta,
.cm-s-default .cm-qualifier {
  color: #555;
}

.cm-s-default .cm-builtin {
  color: #30a;
}

.cm-s-default .cm-bracket {
  color: #997;
}

.cm-s-default .cm-tag {
  color: #170;
}

.cm-s-default .cm-attribute {
  color: #00c;
}

.cm-s-default .cm-hr {
  color: #999;
}

.cm-s-default .cm-link {
  color: #00c;
}

.cm-invalidchar,
.cm-s-default .cm-error {
  color: red;
}

.CodeMirror-composing {
  border-bottom: 2px solid;
}

div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0f0;
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #f22;
}

.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, 0.3);
}

.CodeMirror-activeline-background {
  background: #e8f2ff;
}

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: #fff;
}

.CodeMirror-scroll {
  overflow: scroll !important;
  margin-bottom: -30px;
  margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: 0;
  position: relative;
}

.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
}

.CodeMirror-gutter-filler,
.CodeMirror-hscrollbar,
.CodeMirror-scrollbar-filler,
.CodeMirror-vscrollbar {
  position: absolute;
  z-index: 6;
  display: none;
}

.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}

.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0;
}

.CodeMirror-gutter-filler {
  left: 0;
  bottom: 0;
}

.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  z-index: 3;
}

.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -30px;
}

.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: 0 0 !important;
  border: none !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.CodeMirror-gutter-background {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4;
}

.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}

.CodeMirror-lines {
  cursor: text;
  min-height: 1px;
}

.CodeMirror pre {
  border-radius: 0;
  border-width: 0;
  background: 0 0;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
}

.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}

.CodeMirror-code {
  outline: 0;
}

.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber,
.CodeMirror-scroll,
.CodeMirror-sizer {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
}

.CodeMirror-measure pre {
  position: static;
}

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}

.CodeMirror-focused div.CodeMirror-cursors,
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-selected {
  background: #d9d9d9;
}

.CodeMirror-focused .CodeMirror-selected,
.CodeMirror-line::-moz-selection,
.CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection {
  background: #d7d4f0;
}

.CodeMirror-focused .CodeMirror-selected,
.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
  background: #d7d4f0;
}

.CodeMirror-crosshair {
  cursor: crosshair;
}

.CodeMirror-line::-moz-selection,
.CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection {
  background: #d7d4f0;
}

.cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, 0.4);
}

.cm-force-border {
  padding-right: .1px;
}

@media print {
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

.cm-tab-wrap-hack:after {
  content: '';
}

span.CodeMirror-selectedtext {
  background: 0 0;
}

.CodeMirror {
  height: auto;
  min-height: 300px;
  padding: 10px;
  font: inherit;
  border: 1px solid #dbdbdb;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #fafafa;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  z-index: 1;
}

.CodeMirror:hover,
.CodeMirror.CodeMirror-focused {
  background-color: #fff;
}

.CodeMirror-scroll {
  min-height: 300px;
}

.CodeMirror-fullscreen {
  background: #fff;
  position: fixed !important;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  z-index: 9;
}

.CodeMirror-sided {
  width: 50% !important;
}

.editor-toolbar {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding: 0 10px;
  border-top: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.editor-toolbar > a {
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  color: #2c3e50 !important;
  width: 30px;
  height: 30px;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s, background-color 0.2s, border-color 0.2s;
  transition: opacity 0.2s, background-color 0.2s, border-color 0.2s;
}

.editor-toolbar > a:before {
  line-height: 30px;
}

.editor-toolbar > a.active,
.editor-toolbar > a:hover {
  opacity: 1;
  background: #f4f4f4;
  border-color: #dbdbdb;
}

.editor-toolbar:after,
.editor-toolbar:before {
  display: block;
  content: ' ';
  height: 1px;
}

.editor-toolbar:before {
  margin-bottom: 8px;
}

.editor-toolbar:after {
  margin-top: 8px;
}

.editor-wrapper input.title:focus,
.editor-wrapper input.title:hover {
  opacity: .8;
}

.editor-toolbar.fullscreen {
  width: 100%;
  height: 50px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 9;
}

.editor-toolbar.fullscreen::before {
  width: 20px;
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0, rgba(255, 255, 255, 0) 100%);
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.editor-toolbar.fullscreen::after {
  width: 20px;
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, white 100%);
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

.editor-toolbar i.separator {
  display: inline-block;
  width: 0;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #fff;
  color: transparent;
  text-indent: -10px;
  margin: 0 6px;
}

.editor-toolbar a.fa-header-x:after {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 65%;
  vertical-align: text-bottom;
  position: relative;
  top: 2px;
}

.editor-toolbar a.fa-header-1:after {
  content: "1";
}

.editor-toolbar a.fa-header-2:after {
  content: "2";
}

.editor-toolbar a.fa-header-3:after {
  content: "3";
}

.editor-toolbar a.fa-header-bigger:after {
  content: "\25B2";
}

.editor-toolbar a.fa-header-smaller:after {
  content: "\25BC";
}

.editor-toolbar.disabled-for-preview a:not(.no-disable) {
  pointer-events: none;
  background: #fff;
  border-color: transparent;
  text-shadow: inherit;
}

@media only screen and (max-width: 700px) {
  .editor-toolbar a.no-mobile {
    display: none;
  }
}

.editor-statusbar {
  padding: 8px 10px;
  font-size: 12px;
  color: #959694;
  text-align: right;
}

.editor-statusbar span {
  display: inline-block;
  min-width: 4em;
  margin-left: 1em;
}

.editor-preview,
.editor-preview-side {
  padding: 10px;
  overflow: auto;
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
}

.editor-statusbar .lines:before {
  content: 'lines: ';
}

.editor-statusbar .words:before {
  content: 'words: ';
}

.editor-statusbar .characters:before {
  content: 'characters: ';
}

.editor-preview {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 7;
}

.editor-preview-side {
  position: fixed;
  bottom: 0;
  width: 50%;
  top: 50px;
  right: 0;
  z-index: 9;
  border: 1px solid #ddd;
}

.editor-preview-active,
.editor-preview-active-side {
  display: block;
}

.editor-preview-side > p,
.editor-preview > p {
  margin-top: 0;
}

.editor-preview pre,
.editor-preview-side pre {
  background: #eee;
  margin-bottom: 10px;
}

.editor-preview table td,
.editor-preview table th,
.editor-preview-side table td,
.editor-preview-side table th {
  border: 1px solid #ddd;
  padding: 5px;
}

.CodeMirror .CodeMirror-code .cm-tag {
  color: #63a35c;
}

.CodeMirror .CodeMirror-code .cm-attribute {
  color: #795da3;
}

.CodeMirror .CodeMirror-code .cm-string {
  color: #183691;
}

.CodeMirror .CodeMirror-selected {
  background: #d9d9d9;
}

.CodeMirror .CodeMirror-code .cm-header-1 {
  font-size: 200%;
  line-height: 200%;
}

.CodeMirror .CodeMirror-code .cm-header-2 {
  font-size: 160%;
  line-height: 160%;
}

.CodeMirror .CodeMirror-code .cm-header-3 {
  font-size: 125%;
  line-height: 125%;
}

.CodeMirror .CodeMirror-code .cm-header-4 {
  font-size: 110%;
  line-height: 110%;
}

.CodeMirror .CodeMirror-code .cm-comment {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

.CodeMirror .CodeMirror-code .cm-link {
  color: #7f8c8d;
}

.CodeMirror .CodeMirror-code .cm-url {
  color: #aab2b3;
}

.CodeMirror .CodeMirror-code .cm-strikethrough {
  text-decoration: line-through;
}

.CodeMirror .CodeMirror-placeholder {
  opacity: .5;
}

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
  border-bottom: 1px dashed rgba(208, 64, 64, 0.6);
}

.alert {
  font-weight: 500;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #fff;
}

.alert:not(:last-child) {
  margin-bottom: 22px;
}

.alert ul,
.alert li {
  border-color: inherit;
}

.alert ul {
  list-style: none;
}

.alert li {
  padding: 8px 10px;
}

.alert li:not(:first-child) {
  border-color: #dbdbdb;
  border-top-width: 1px;
  border-top-style: solid;
}

.alert.-success {
  color: #62be1e;
  border-left-color: #62be1e;
}

.alert.-error {
  color: #d04040;
  border-left-color: #d04040;
}

.app-container > .alert {
  position: fixed;
  left: 50%;
  bottom: 0;
  margin-bottom: 0;
  max-width: 640px;
  border-bottom: 0;
  border-left-width: 2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-box-shadow: 0 -1px 16px rgba(0, 0, 0, 0.05);
          box-shadow: 0 -1px 16px rgba(0, 0, 0, 0.05);
}

form {
  max-width: 100%;
}

.fieldset {
  margin-bottom: 22px;
}

.fieldset label {
  display: block;
  margin-bottom: 5px;
}

.fieldset input:not([type="submit"]):not([type="file"]),
.fieldset select,
.fieldset textarea {
  width: 100%;
}

.inputgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.inputgroup span {
  padding: 10px;
  color: #777;
  border: 1px solid #dbdbdb;
}

.inputgroup span:first-child {
  border-right-width: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.inputgroup span:last-child {
  border-left-width: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.inputgroup input:not([type="submit"]):not([type="file"]):first-child,
.inputgroup select:first-child,
.inputgroup textarea:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.inputgroup input:not([type="submit"]):not([type="file"]):last-child,
.inputgroup select:last-child,
.inputgroup textarea:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

input:not([type="submit"]):not([type="file"]),
select,
textarea {
  outline: none;
  padding: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #fafafa;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

input:not([type="submit"]):not([type="file"]):hover,
input:not([type="submit"]):not([type="file"]):focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus {
  background-color: #fff;
}

button {
  cursor: pointer;
  background-color: transparent;
}

.button {
  display: inline-block;
  min-width: 100px;
  padding: 0 15px;
  color: #444;
  font-weight: 500;
  text-align: center;
  line-height: inherit;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #f4f4f4;
  -webkit-transition: background-color 0.2s, color 0.2s, border 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, color 0.2s, border 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, color 0.2s, border 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, color 0.2s, border 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.button.-submit {
  line-height: 36px;
}

.button:hover,
.button:focus {
  background-color: #f9f9f9;
  outline: none;
}

.button:active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.button.-green {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-color: #59ac1b;
  background-color: #62be1e;
}

.button.-green:hover,
.button.-green:focus {
  background-color: #59ac1b;
}

.button.-red {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-color: #ca3232;
  background-color: #d04040;
}

.button.-red:hover,
.button.-red:focus {
  background-color: #ca3232;
}

a {
  color: #62be1e;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

a:hover,
a:focus {
  color: inherit;
}

