.alert {
	font-weight: 500;
	border: 1px solid $body-border;
	border-radius: $border-radius;
	background-color: $body-bg;

	&:not(:last-child) {
		margin-bottom: $content-padding;
	}

	ul,
	li {
		border-color: inherit;
	}

	ul {
		list-style: none;
	}

	li {
		padding: 8px 10px;

		&:not(:first-child) {
			border-color: $body-border;
			border-top-width: 1px;
			border-top-style: solid;
		}
	}

	// Colors

	&.-success {
		color: $color-green;
		border-left-color: $color-green;
	}

	&.-error {
		color: $color-red;
		border-left-color: $color-red;
	}
}

.app-container {
	> .alert {
		position: fixed;
		left: 50%;
		bottom: 0;
		margin-bottom: 0;
		max-width: $width-medium;
		border-bottom: 0;
		border-left-width: 2px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		transform: translate( -50%, 0 );
		box-shadow: 0 -1px 16px rgba( 0,0,0,0.05 );
	}
}
