
button {
	cursor: pointer;
	background-color: transparent;
}

.button {
	display: inline-block;
	min-width: 100px;
	padding: 0 15px;
	color: $text-color;
	font-weight: 500;
	text-align: center;
	line-height: inherit;
	border: 1px solid $body-border;
	border-radius: $border-radius;
	background-color: $body-bg-alt;
	transition: background-color $transition-duration, color $transition-duration, border $transition-duration, box-shadow $transition-duration;

	&.-submit {
		line-height: 36px;
	}

	// States

	&:hover,
	&:focus {
		background-color: lighten( $body-bg-alt, 2 );
		outline: none;
	}

	&:active {
		box-shadow: inset 0 1px 3px rgba( 0, 0, 0, 0.1 );
	}


	// Colors

	&.-green {
		color: #fff;
		text-shadow: 0 1px 1px rgba( 0, 0, 0, 0.2 );
		border-color: darken( $color-green, 4 );
		background-color: $color-green;

		&:hover,
		&:focus {
			background-color: darken( $color-green, 4 );
		}
	}

	&.-red {
		color: #fff;
		text-shadow: 0 1px 1px rgba( 0, 0, 0, 0.2 );
		border-color: darken( $color-red, 4 );
		background-color: $color-red;

		&:hover,
		&:focus {
			background-color: darken( $color-red, 4 );
		}
	}
}
