
#nav-main {
	width: $nav-width;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: $nav-bg;
}

#logo {
	display: block;
	height: $nav-width;
	text-align: center;
	line-height: $nav-width;
	border-bottom: 1px solid $nav-border;

	img {
		display: inline-block;
		width: $nav-logo-width;
		vertical-align: middle;
	}
}

#nav-main-menu {
	li {
		display: block;
		color: $nav-color;
		font-size: 12px;
		text-align: center;
		border-bottom: 1px solid $nav-border;
		background-color: $nav-bg;
		transition: background-color 0.15s;

		a {
			display: block;
			height: $nav-width / 2;
			color: inherit;
			padding: 10px 5px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&.has-icon a {
			height: $nav-width;
			padding-top: 20px;
		}

		.icon {
			display: block;
			font-size: $nav-icon-width;
			margin: 0 auto 10px;
			width: $nav-icon-width;
			opacity: 0.6;
			transition: opacity 0.15s;
		}

		&:hover,
		&.active {
			background-color: $nav-bg-alt;

			.icon {
				opacity: 1;
			}
		}
	}
}
