@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800');

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

h1 {
	font-size: 260%;
}

h2 {
	font-size: 220%;
}

h3 {
	font-size: 180%;
}

h4 {
	font-size: 140%;
}

h6 {
	font-size: 80%;
}

strong {
	font-weight: 600;
}

small {
	font-size: 90%;
}

p {
	span {
		display: inline-block;
		font-size: 100%;
	}
}

pre {
	code {
		display: block;
		padding: $content-padding;
	}

	&.hljs-wrap {
		font-size: 0;

		code.hljs {
			font-size: 12px;
		}
	}
}

code {
	display: inline-block;
	font-size: 12px;
	color: #eee;
	line-height: inherit;
	padding: 2px 4px 1px;
	background: #232323;
	font-family: $font-family-monospace;
	border-radius: $border-radius;
}

em {
	font-style: italic;
}

blockquote {
	padding: $content-padding / 2;
	border-left: 3px solid $body-border;
}
