
// Body
$body-bg: #fff;
$body-bg-alt: #f4f4f4;
$body-border: #dbdbdb;

// Navbar
$nav-bg: #222;
$nav-bg-alt: #111;
$nav-color: #fff;
$nav-color-alt: #ddd;
$nav-border: #000;
$nav-width: 80px;
$nav-logo-width: 40px;
$nav-icon-width: 24px;

$nav-sec-width: 200px;

// Content
$content-padding: 22px;

$width-large: 1024px;
$width-medium: 640px;
$width-small: 320px;

// Typography
$font-family-sans-serif: "Hind", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #444;
$text-color-fade: #777;

// Colors
$color-red: #d04040;
$color-green: #62be1e;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-padding: 10px;
