form {
	max-width: 100%;
}

.fieldset {
	margin-bottom: $content-padding;

	label {
		display: block;
		margin-bottom: 5px;
	}

	input:not([type="submit"]):not([type="file"]),
	select,
	textarea {
		width: 100%;
	}
}

.inputgroup {
	display: flex;
	flex-direction: row;

	span {
		padding: $input-padding;
		color: $text-color-fade;
		border: 1px solid $body-border;

		&:first-child {
			border-right-width: 0;
			border-top-left-radius: $border-radius;
			border-bottom-left-radius: $border-radius;
		}

		&:last-child {
			border-left-width: 0;
			border-top-right-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
		}
	}

	input:not([type="submit"]):not([type="file"]),
	select,
	textarea {
		&:first-child {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		&:last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

input:not([type="submit"]):not([type="file"]),
select,
textarea {
	outline: none;
	padding: $input-padding;
	border: 1px solid $body-border;
	border-radius: $border-radius;
	background-color: $input-bg;
	transition: background-color 0.2s;

	&:hover,
	&:focus {
		background-color: $input-bg-alt;
	}
}